<div class="account-container">
	
	<div class="content clearfix">
		
		<form novalidate name="loginForm" autocomplete="off">
		
			<h1>Signin</h1>		
			
			<div class="login-fields">
				
				<p>Already using our App? Use the same sign in details</p>
				
				<div class="field">
					<label for="username">Email</label>
					<input type="text" name="email" value="" placeholder="Email" class="login username-field" ng-model="login.email" 	validator="required,email" required-error-message="Email is required" email-error-message="Invalid email address" valid-method="watch"	/>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Password:</label>
					<input type="password" name="password" value="" placeholder="Password" class="login password-field" ng-model="login.password" validator="required" required-error-message="Password is required" valid-method="watch" />
					
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions btn-group" id="loginPageActionButton">
				<a class="button btn btn-primary btn-large" validation-submit="loginForm" ng-click="doLogin()">Sign In</a> 
				<a class="button btn btn-default btn-large" href="#/signup">Register</a>
			</div>
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->
