<div class="account-container register">
	
	<div class="content clearfix">
		
		<form novalidate name="signupForm" autocomplete="off">
		
			<h1>Getting Started</h1>
			
			<div class="login-fields">
				
				<p>Get started with online banking in just a few steps. Begin by entering your details:</p>
				
				<div class="field">
					<label for="email">Email Address:</label>
					<input type="text" name="email" value="" placeholder="Email" class="login" ng-model="signup.email" validator="required,email" required-error-message="Email is required" email-error-message="Invalid email address" valid-method="watch"	/>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Password:</label>
					<input type="password" name="password" value="" placeholder="Password" class="login" ng-model="signup.password" validator="required" required-error-message="Password is required" valid-method="watch" />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="confirm_password">Confirm Password:</label>
					<input type="password" id="confirm_password" name="confirm_password" value="" placeholder="Confirm Password" class="login"/>
				</div> <!-- /field -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Agree with the Terms & Conditions.</label>
				</span>
									
				<button class="button btn btn-primary btn-large" validation-submit="signupForm" ng-click="doSignup()">Register</button>
				
			</div> <!-- .actions -->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
	Already have an account? <a data-ui-sref="login">Login to your account</a>
</div> <!-- /login-extra -->