<div class="row">
	<div class="span12">
		<h1>Account Summary</h1>
	</div>
</div>
<div class="row">
	<div class="span12 widget-content">
		<div class="widget-header"> <i class="icon-list-alt"></i>
			<h3>Accounts</h3>
		</div>
		<div class="row">
			<div class="span6">Current Account</div>
			<div class="span6">100 000</div>
		</div>
		<div class="row">
			<div class="span6">Savings Account</div>
			<div class="span6">1000 000</div>
		</div>
		<div class="row">
			<div class="span6">Credit Card</div>
			<div class="span6">50 000</div>
		</div>
	</div>
</div>
