<div class="row" style="background: #fff;padding: 15px 0px;">
	<div class="span6">
		<form novalidate name="AccountInfo" autocomplete="off">
			<h1>{{productName}} Application</h1>
			<hr/>
			<p>Account Details</p>
			<div class="field">
				<label>Opening deposit</label>
				<input type="tel" name="openbalance" value="" ng-model="apply.openbalance" placeholder="0.00" validator="required,number" required-error-message="Amount must be greater than 0" valid-method="watch"	/>
			</div> <!-- /field -->
			<div class="field">
				<label>Pay deposit from:</label>
				<select name="accountSelection" ng-model="apply.accountSelection">
					<option value=""> - Select your account - </option>
					<option value="Elite Plus - Account 27-75672-786">Elite Plus - Account 27-75672-786 - R750 000</option>
				</select>
			</div>
			<div class="login-actions btn-group">
				<a class="button btn btn-primary btn-large" validation-submit="AccountInfo" ng-click="goNext('review')">Next</a> 
			</div>
		</form>
	</div>
</div>
