<div class="row">
	<div class="span6">
		<div class="widget">
			<!-- /widget-header -->
			<div class="widget-content">
				<div class="shortcuts">
					<a ui-sref="saving-application({product:'puresave'})" class="shortcut">
						<i class="shortcut-icon icon-list-alt"></i>
						<span class="shortcut-label">Pure Save</span>
					</a>
					<a ui-sref="saving-application({product:'MarketLink'})" class="shortcut">
						<i class="shortcut-icon icon-bookmark"></i>
						<span class="shortcut-label">MarketLink</span>
					</a>
					<a ui-sref="saving-application({product:'Tax-free-call'})" class="shortcut">
						<i class="shortcut-icon icon-signal"></i>
						<span class="shortcut-label">Tax-free call</span>
					</a>
				</div>
				<!-- /shortcuts -->
			</div>
			<!-- /widget-content -->
		</div>
	</div>
</div>
