<div class="row" style="background: #fff;padding: 15px 0px;">
	<div class="span6">
			<h1>Confirmation</h1>
			<p>Congratulation, your {{productName}} savings account will be activated in 24hrs</p>
			<a class="button btn btn-primary btn-large" ui-sref="dashboard">Back to Dashboard</a> 
	</div>
</div>