<div class="row" style="background: #fff;padding: 15px 0px;">
	<div class="span6">
		<ng-form name="infoReview" novalidate>
			<h1>{{productName}} Review</h1>
			<h3>Account Details</h3>
			<hr/>
			<div class="field">
				<label>Account Type</label>
				<i>{{productName}}</i>
			</div> <!-- /field -->
			<div class="field">
				<label>Opening Deposit</label>
				R {{openingBalance}}
			</div>
			<h3>Pay Deposit from</h3>
			<hr/>
			<div class="field">
				<label>Transfer opening amont from</label>
				{{accountSelection}}
			</div> <!-- /field -->
			<div class="field"> 
				<input type="checkbox" name="tncs" value="1" ng-model="apply.tncs" ng-required="!apply.tncs" validator="required" required-error-message="You must agree to the Terms and conditions" /> You have read, understood and agee to the general and product terms and conditions
			</div> <!-- /field -->
			<hr/>
			<div class="login-actions btn-group">
				<a class="button btn btn-default btn-large" ng-click="goBack()">back</a> 
				<a class="button btn btn-primary btn-large" validation-submit="infoReview" ng-click="goNext('confirmation')">Next</a> 
			</div>
		</ng-form>
	</div>
</div>