<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="index.html">
				<img src="img/logo.png" width="45" />
			</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Welcome Sensei! <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!-- /container -->
	</div>
	<!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
	<div class="subnavbar-inner">
		<div class="container">
			<ul class="mainnav" id="main-navigation">
				<li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
				<li ng-class="{active: $state.includes('application')}"><a ui-sref="application"><i class="icon-bar-chart"></i><span>Apply for Account</span> </a> </li>
			</ul>
		</div>
		<!-- /container -->
	</div>
	<!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
